/* src/index.css */

@import url("https://fonts.googleapis.com/css2?family=Castoro:ital@0;1&family=Inter:wght@300;400;500;600;700&display=swap");

:root {
    
    --font-2: "Castoro", serif;
    --font-mono: Consolas, "Andale Mono", Courier, "Courier New", monospace;
  
}

body {
    font-family: "Inter", sans-serif;
}

@tailwind base;
@tailwind components;
@tailwind utilities;